.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.app-container {
    .space {
        padding: 4px 0 4px 0;
    }
}
