.red {
    border: 1px solid red;
}
.green {
    border: 1px solid green;
}
.yellow {
    border: 1px solid yellow;
}
.login-container {
    background-color: #f0f2f5;
    min-height: 100vh;
    padding-top: 20px;
    .content-right {
        border: 1px solid grey;
        border-radius: 10px;
    }
}
