.modal-user {
    .content-body {
        .red {
            color: red;
        }
    }
}
.manage-users-container {
    i {
        padding-right: 7px;
    }
    .actions {
        .refresh {
            margin-right: 10px;
        }
    }
}
